<nav class="navbar navbar-default navbar-static-top">
    
    <div class="navbar-header">
        <ul class="nav navbar-nav" data-bind="foreach: links" data-template="nav-template">
            <li>
                <a data-bind="routeHref: name">
                    <span data-bind="text: title, attr: { class: icon }"></span>
                </a>
            </li>            
        </ul>
    </div>

</nav>

<!-- The nested route contents go in here -->
<div id="content" class="container" data-bind="routeView: true"></div>
