
.adderContainer {
	font-size: 2rem;
}

.adderButtonRow {

}

.adderDisplay {
	box-sizing: border-box;
	border: solid 2px gray;
	border-radius: .2em;
	width: 6em;
	display: block;
	margin-bottom: .2em;
	padding: 2px;
}

.adderOperand {
    composes: adderDisplay;
}

.adderTotal {
    composes: adderDisplay;
}

.adderButton {
	font-size: 2rem;
	width: 2em;
	height: 2em;
}

.adderButtonClear {
    composes: adderButton;
	background: orangered; 
}

.adderButtonAdd {
    composes: adderButton;
	background: mediumseagreen;
}

.adderButtonDigit {
    composes: adderButton;
	background: dodgerblue;
}